@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Pacifico&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
    height: 100vh;
    background: url("background.jpg") no-repeat center / cover;
    padding: 50px 5%;
}

.container {
    position: relative;
    height: 100%;
    background: rgb(221, 44, 142);
    border-radius: 30px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 17px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 22px;
    color: hsl(331, 100%, 94%);
    text-decoration: none;
    margin-right: auto;
    font-weight: 600;
}

.navbar a{
    font-size: 16px;
    color: hsl(331, 100%, 94%);
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    border-color:  hsl(331, 100%, 94%);
}

